.cus-table
{
    min-width: 650px;
    border-collapse: collapse;
    border: 1px solid lightgray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.cus-table th {
    text-align: left;
    padding: 10px;
    cursor: pointer;
}
.cus-table tr {
    border-bottom: 1pt solid lightgray;

}
.cus-table tr td {
    padding: 10px;
}
